body {
  background-color:  #33475b;
  color: #ddd;
  font-family: Arial, Helvetica, san-serif;
  margin: 10% 20%
    
}

.exp-header {
  Text-transform:uppercase;
  border-top: 3px solid;
  border-bottom: 3px solid;
  background-color:
}
